body {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    text-transform:capitalize ;
}

#main {
    margin-top: 10%;
    vertical-align: middle;
    display: table-cell;
}

#signup {
    background: #B6FFFA;
    height: 400px;
    width:  400px;
    border: 1px solid #98E4FF;
    border-radius: 30px;
    display: grid;
    padding: 60px 40px;
}

#email  {
    background-color: #F3F8FF;
    height: 50px;
    font-size: medium;
    border: 1px solid #60b0bb;
    border-radius: 10px;
    padding-left: 10px;
}

#name {
    background-color: #F3F8FF;
    height: 50px;
    font-size: medium;
    border: 1px solid #60b0bb;
    border-radius: 10px;
    padding-left: 10px;
}

#password{
    background-color: #F3F8FF;
    height: 50px;
    font-size: medium;
    border: 1px solid #60b0bb;
    border-radius: 10px;
    padding-left: 10px;
}

#sign{
    
    height: 50px;
    color: white;
    font-size: medium;
    background: #69abf7;
    border: 1px solid #60b0bb;
    margin-top: 10%;
    margin-bottom: 0%;
    width: 120px;
    border-radius: 10px;
}

#sign:hover{
    background-color: #478cc9;
    width: 125px;
    height: 51px;
}

#signin {
    background: #B6FFFA;
    height: 300px;
    width:  400px;
    border: 1px solid #98E4FF;
    border-radius: 30px;
    display: grid;
    padding: 60px 40px;
}